<template>
  <v-card class="mx-auto" max-width="600">
    <v-img
        class="align-end text-white"
        max-height="400"
        :src="
            campaignItem.image
                ? imageURL + campaignItem.image
                : 'https://cdn.vuetifyjs.com/images/cards/docks.jpg'
        "
        cover
    >
    </v-img>
    <v-card-title>{{ campaignItem.title }}</v-card-title>

    <v-card-subtitle class="pt-4">
        <v-icon color="red">mdi-map-marker</v-icon>
        {{ campaignItem.address }}
    </v-card-subtitle>

    <v-card-text>
        <div>{{ campaignItem.description }}</div>
    </v-card-text>

    <v-card-actions>
        <v-btn color="info">required {{ campaignItem.required }}</v-btn>

        <v-btn color="success">
            collected {{ campaignItem.collected }}
        </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
    props: {
        campaignItem: Object,
    },
    data() {
        return {
           imageURL: "http://localhost:8000",
        };
    },
}
</script>

<style>

</style>