<template>
    <div>
      <v-alert
        :type="alert.alert_variant"
        v-if="alert.show_alert"
        class="my-2"
      >
      {{ alert.alert_msg }}
      </v-alert>
    </div>
    <div class="d-flex justify-end">
        <v-btn
            color="primary"
            size="x-large"
            icon
            class="md-1"
            @click="getCreate()"
        >
            <v-icon size="x-large">mdi-plus-circle</v-icon>
            <v-tooltip activator="parent" location="top">Tambah</v-tooltip>
        </v-btn>
        <v-dialog
            transition="dialog-bottom-transition"
            max-width="600"
            v-model="dialogActionTambah"
        >
            <action-campaign
                statusButton="tambah"
                @closed="dialogActionTambah = false"
                @reload="Reload"
            />
        </v-dialog>
    </div>

    <v-table>
        <thead>
            <tr>
                <th class="text-left">Title</th>
                <th class="text-left">Required</th>
                <th class="text-left">Collection</th>
                <th class="text-left">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in campaign" :key="item.title">
                <td>{{ item.title }}</td>
                <td>{{ item.required }}</td>
                <td>{{ item.collected }}</td>
                <td>
                    <v-btn
                        color="info"
                        class="md-1 mx-3"
                        @click="getDetail(item)"
                    >
                        <v-tooltip activator="parent" location="top">Detail</v-tooltip>
                        <v-icon left>mdi-information-outline</v-icon>
                    </v-btn>
                    <v-btn
                        color="secondary"
                        class="md-1 mx-3"
                        @click="getEdit(item)"
                    >
                        <v-tooltip activator="parent" location="top">Edit</v-tooltip>
                        <v-icon left>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn
                        color="error"
                        class="md-1 mx-3"
                        @click="getDelete(item)"
                    >
                        <v-tooltip activator="parent" location="top">Delete</v-tooltip>
                        <v-icon left>mdi-delete</v-icon>
                    </v-btn>
                </td>

            </tr>
        </tbody>
    </v-table>
    

    <v-dialog
        transition="dialog-bottom-transition"
        max-width="600"
        v-model="dialogActionDetail"
    >
        <detail-campaign :campaignItem="showData"/>
    </v-dialog>

    <v-dialog
        transition="dialog-bottom-transition"
        max-width="600"
        v-model="dialogActionEdit"
    >
        <action-campaign
            :campaignItem="showData"
            statusButton="update"
            @closed="dialogActionEdit = false"
            @reload="Reload"
        />
    </v-dialog>

    <v-dialog persistent max-width="400" v-model="dialogActionDelete">
            <v-card>
                <v-card-title class="text-h4 text-center text-danger">
                    Delete data
                </v-card-title>
                <v-card-text class="text-center">
                    <div>Yakin ingin hapus {{ showData.title }}</div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="info"
                        variant="text"
                        @click="dialogActionDelete = false"
                    >
                        No
                    </v-btn>
                    <v-btn color="error" variant="text" @click="deleteData()">
                        Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
    </v-dialog>
</template>

<script>
import ActionCampaign from "./actionCampaign.vue";
import DetailCampaign from "./DetailCampaign.vue";
import { useUserStore } from '@/store/user';

export default {
    setup() {
        const userStore = useUserStore();
        return { userStore };
    },
    props: {
        campaign: Object,
    },
    emits: ["reload"],
    components: {
        ActionCampaign,
        DetailCampaign,
    },
    data() {
        return {
            // alert
            alert: {
                show_alert: false,
                alert_variant: "",
                alert_msg: null,
            },
            dialogActionTambah: false,
            dialogActionEdit: false,
            dialogActionDetail: false,
            dialogActionDelete: false,
            showData: null,
        };
    },

    methods: {
        getCreate() {
            this.dialogActionTambah = true;
        },
        getEdit(item) {
            this.dialogActionEdit = true;
            this.showData = item;
        },
        Reload() {
            this.$emit("reload");
        },
        getDetail(item) {
            this.dialogActionDetail = true;
            this.showData = item;
        },
        getDelete(item) {
            this.dialogActionDelete = true;
            this.showData = item;
        },
        async deleteData() {
            this.alert.show_alert=true;
            this.alert.alert_variant="warning";
            this.alert.alert_msg="please wait";

            try{
                const token = this.userStore.token;
                const config = {
                    method: "post",
                    url: `/api/campaign/${this.showData.id}`,
                    params: { _method: "Delete" },
                    headers: { Authorization: `Bearer ${token}` },
                };
                const DataResponse = await axios(config);

                this.alert.show_alert=true;
                this.alert.alert_variant="success";
                this.alert.alert_msg=DataResponse.data.response_message;

                this.dialogActionDelete = false;
                this.Reload();
            } catch (error) {
                console.log(error)
            }
        }
    },
};
</script>
<style></style>