<template>
      <div>
        <v-alert
          :type="alert.alert_variant"
          v-if="alert.show_alert"
          class="my-2"
        >
        {{ alert.alert_msg }}
        </v-alert>
      </div>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="user.email"
          :rules="emailRules"
          label="E-mail"
          type="email"
        ></v-text-field>

        <v-text-field
          v-model="user.password"
          :rules="passwordRules"
          label="Password"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show1 ? 'text' : 'password'"
          @click:append="show1 = !show1"
        ></v-text-field>
        
        <v-btn color="success" block class="mr-4" @click="loginSubmit">
            Sign-in
        </v-btn>
      </v-form>
</template>

<script>
import axios from 'axios';
import { useUserStore } from '@/store/user';
export default {
  emits:["closeDialog"],  
  setup() {
    const userStore = useUserStore();
    return { userStore };
  }, 
  data: () => ({
    // alert
    alert: {
      show_alert: false,
      alert_variant: "",
      alert_msg: null,
    },

    valid: true,
    show1: false,
    user:{
        password: "",
        email: "",
    },
    emailRules: [
      v => !!v || 'Email is required',
      v => /.+@.+\..+/.test(v) || 'Email must be valid',
    ],
    passwordRules: [(v) => !!v || 'password is required'],
    checkbox: false,
  }),

  methods: {
    async loginSubmit () {
      const { valid } = await this.$refs.form.validate()

      if (valid) {
        this.alert.show_alert=true;
        this.alert.alert_variant="warning";
        this.alert.alert_msg="please wait";
        try{
          const authLogin = await axios.post(
            "/api/auth/login",
            this.user
          );

          this.alert.show_alert=true;
          this.alert.alert_variant="success";
          this.alert.alert_msg=authLogin.data.response_message;

          await this.userStore.setToken(authLogin.data.token);
          this.$router.push("/");
          this.$emit("closeDialog");
        } catch (error) {
          console.log(error)
        }
      }
    },
  },
};
</script>