<template>
    <div>
        <v-card class="mx-auto" max-width="800">
            <v-img
                class="align-end text-white"
                max-height="400"
                :src="
                    campaign.image
                        ? campaign.image
                        : 'https://cdn.vuetifyjs.com/images/cards/docks.jpg'
                "
                cover
            >
            </v-img>
            <v-card-title>{{ campaign.title }}</v-card-title>

            <v-card-subtitle class="pt-4">
                <v-icon color="red">mdi-map-marker</v-icon>
                {{ campaign.address }}
            </v-card-subtitle>

            <v-card-text>
                <div>{{ campaign.description }}</div>
            </v-card-text>

            <v-card-text>
                <div class="text-secondary text-h5">
                    Rp. {{ campaign.collected }}
                </div>
                <div class="text-secondary text-h5">
                    Data yang dibutuhkan Rp.
                    {{ campaign.required }}
                </div>
            </v-card-text>

            <v-card-actions>
                <v-btn
                    block
                    size="large"
                    @click="donate"
                    color="text-secondary"
                    :disabled = "campaign.collected >= campaign.required"
                >  
                    <v-icon>mdi-heart</v-icon>DONATE
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
 import { useUserStore } from '@/store/user';
import axios from 'axios';
export default {
    setup() {
        const useStore = useUserStore();
        return { useStore };
    },
    data() {
        return {
            campaign: [],
            // campaign: {},
        };
    },
    created() {
        this.getCampaignDetail();
    },
    methods: {
        getCampaignDetail() {
            let {id} = this.$route.params;
            let url = "/api/campaign/" + id;
            axios
                .get(url)
                .then((response) => {
                    console.log(response);
                    this.campaign = response.data.data;
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        donate() {
            if(!useUserStore.isLogin) {
                alert("Anda harus login dulu");
            } else if(useUserStore.isNotVerification){
                alert("anda belum verifikasi");
            } else {
                alert("donate");
            }
        },
    },
};
</script>

<style>

</style>