<template>
  <div>
    <v-container class="bg-white">
        <v-row no-gutter>
          <v-col
            v-for="campaign in campaigns"
            :key="'campaign-' + campaign.id"
            cols="12"
            sm="6"
            class="mt-4"
          >
            <campaign-item :campaign="campaign" />
          </v-col>
        </v-row>
    </v-container>
    <v-pagination
      v-model="page" 
      @click="getCampaigns"
      :length="lengthPage"
    ></v-pagination>
  </div>
</template>

<script>
import CampaignItem from '../components/CampaignItem.vue';
export default {
    data() {
        return{
          page: 1,
          lengthPage: 0,
          campaigns: [],
        };
    },
    components:{
        CampaignItem,
    },
    created() {
      this.getCampaigns();
    },
    methods: {
      getCampaigns() {
        let url = `/api/getallcampaign?page=` + this.page;

        axios
              .get(url)
              .then((response) => {
                let {data} = response.data;
                this.campaigns = data.campaign.data;
                this.page = data.campaign.current_page;
                this.lengthPage = data.campaign.last_page;
              })

              .catch((error) => {
                let { response } = error;
                console.log(error);
              });
      },
    },
};
</script>

<style>

</style>